<style type="text/css">
/*所有的css*/

/*装下全页面的div*/

.whole_page {height:100%; width:100%; overflow:hidden; margin:0; padding:0;}  

/*html知识： 
    
    自适应宽度的 div：
      1.不要设置 width,即 width:auto ，
      2.不要设置 float,即 float:none，
      3.其div的位置应放在最后，比 float='right' 的 div 还靠后*/  

  
  /*设置页面左右空白——为了让主要内容居中——————两边也可以放广告和悬浮按钮*/
  
  .page_left {
    margin: 0 auto; 
    width: 2%; 
    height: 100%; 
    float: left; 
    background-color: transparent; 
    text-align: center;

    /*div内容不可见*/
    visibility: hidden;
    /*超出边缘部分隐藏*/
    overflow: hidden;
  }    
  .page_right {
    margin: 0 auto; 
    width: 2%; 
    height: 100%; 
    float: right; 
    background-color:transparent; 
    text-align:center;

    /*div内容不可见*/
    /*visibility: hidden;*/
    /*超出边缘部分隐藏*/
    overflow: hidden;
  }  
    /*跳转到目录的悬浮按钮*/
    .div_xuanfu {
      z-index: 9999; 
      position: fixed ! important; 
      right: 15px; 
      top: 250px;"
    }
      .button_xuanfu {
        background-color: pink; 
        /*按钮字的颜色*/
        color: black; 
        /*透明度*/
        opacity: 0.7; 
        width: 100%; 
        position: absolute; 
        width:30px; 
        right: 0px; 
        top: 0px;
      }

  /*居中主要内容放置的地方*/
  .page_middle { 
    margin:0 auto; 
    width:96%; 
    height:100%;
    color:black; 
    background-color:transparent; 
    text-align:center;
  }
      
      /*顶部广告区*/
      .top {background-color:transparent;}
        
        /*图片*/
        img{
          width: 100%; 
          width: auto;
          height: auto;
        } 

      
      /*课程详情链接*/
      .CourseDetail {
        background-color:transparent;
        text-align:left; 

      }
      /*底部*/
      .bottom {background-color: teal;}  
  
  /*不太懂：貌似是浏览器兼容用的*/
  .clearDiv {clear:both;}  

</style>  